{% extends 'food_app/main.html' %}
{% block content_main %}
<div class="container-card-style">
    <form class="form-style" action="" method="POST">
        {% csrf_token %}
        <div class="row row-header-style">
            <div class="col d-flex">
                <h5 class="text-uppercase">Usuń przepis</h5>
            </div>
            <div class="col d-flex justify-content-end">
                <a href="{{ request.GET.next }}" class="btn button-style">Anuluj</a>
                <button type="submit" class="button-style">Potwierdź</button>
            </div>
        </div>
        <div class="row row-form-style">
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <p class="text-center">
                    <strong>Potwierdź usunięcie przepisu - {{ recipe }}</strong>
                </p>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>
    </form>
</div>
{% endblock %}