{% extends 'food_app/main.html' %}
{% block content_main %}
<div class="container-card-style">
    <form class="form-style" action="" method="POST">
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="row row-header-style">
            <div class="col-8 d-flex">
                <h5 class="text-uppercase">
                    {% if schedule %}
                        Edytuj plan
                    {% else %}
                        Dodaj plan
                    {% endif %}
                </h5>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <a href="{{ request.GET.next }}" class="btn button-style">Anuluj</a>
                <button type="submit" class="button-style">Dalej</button>
            </div>
        </div>
        <div class="row row-card-style">
            <div class="col-12">
                <h5>Ogólne informacje - krok {{ wizard.steps.step1 }} / {{ wizard.steps.count }}</h5>
            </div>
        </div>
        <div class="row row-form-style">
            <div class="col-2 label-style">{{ form.name.label }}</div>
            <div class="col-10">
                {{ form.name }}
                {{ form.name.errors }}
                {{ form.create_by }}
            </div>
        </div>
        <div class="row row-form-style">
            <div class="col-2 label-style">{{ form.description.label }}</div>
            <div class="col-10">
                {{ form.description }}
                {{ form.description.errors }}
            </div>
        </div>
    </form>
</div>
{% endblock %}