{% extends 'food_app/main.html' %}
{% block content_main %}
<div class="container-card-style">
    <form class="form-style" action="" method="POST">
        {% csrf_token %}
        <div class="row row-header-style">
            <div class="col d-flex">
                <h5 class="text-uppercase">Reset hasła</h5>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" onclick="history.back()" class="button-style">Anuluj</button>
                <button type="submit" class="button-style">Wyślij</button>
            </div>
        </div>
        <div class="row row-form-style">
            <div class="col-4 label-style">{{ form.email.label }}</div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
        </div>
    </form>
</div>
{% endblock %}