{% extends 'food_app/main.html' %}
{% block content_main %}
<div class="container-card-style">
    <form class="form-style" action="" method="POST">
        {% csrf_token %}
        <div class="row row-header-style">
            <div class="col d-flex">
                <h5 class="text-uppercase">Edytuj hasło</h5>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" onclick="history.back()" class="button-style">Anuluj</button>
                <button type="submit" class="button-style">Zapisz</button>
            </div>
        </div>
        <div class="row row-form-style">
            <div class="col-4 label-style">{{ form.password.label }}</div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                {{ form.password }}
                {{ form.password.errors }}
            </div>
        </div>
        <div class="row row-form-style">
            <div class="col-4 label-style">{{ form.password_new.label }}</div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                {{ form.password_new }}
                {{ form.password_new.errors }}
            </div>
        </div>
        <div class="row row-form-style">
            <div class="col-4 label-style">{{ form.password_repeat.label }}</div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                {{ form.password_repeat }}
                {{ form.password_repeat.errors }}
            </div>
        </div>
    </form>
</div>
{% endblock content_main %}