{% extends 'food_app/user_panel.html' %}
{% block content_user_panel %}
    <div class="row row-card-style" id="user-like">
        <div class="col-lg-9 col-md-8 col-sm-7 d-flex">
            <h5>
                {% if search_count or search_count == 0 %}
                    Znaleziono ({{ search_count }})
                {% else %}
                    Twoje Głosy
                {% endif %}
                {% if is_paginated %}
                    <span class="pagination-style">
                        {% if page_obj.number > 1 %}
                            <a href="{{ path_pagination }}{{ page_obj.number|add:'-1' }}#user-like">&laquo;</a>
                        {% endif %}
                        {% if page_obj.paginator.num_pages <= 1 %}
                            {{ pass }}
                        {% else %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    {{ i }}
                                {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                                    <a href="{{ path_pagination }}{{ i }}#user-like">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if page_obj.paginator.num_pages > page_obj.number %}
                            <a href="{{ path_pagination }}{{ page_obj.number|add:'1' }}#user-like">&raquo;</a>
                        {% endif %}
                    </span>
                {% endif %}
            </h5>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 d-flex justify-content-end">
            <form action="{% url 'user-like' %}#user-like" method="GET" class="form-style search-form-style">
                {{ form.name }}
                <button type="submit" title="Szukaj"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="row row-card-style">
        <div class="col">
            <table class="table table-style">
                <tbody>
                    {% for recipe in recipe_list %}
                        <tr>
                            <td class="col-1"><img class="" src="{{ recipe.image.url }}"></td>    
                            <td class="col-10">
                                <ul>
                                    <li>
                                        <a href="{% url 'recipe-detail' pk=recipe.pk %}" title="Szczegóły">
                                            <b>{{ recipe.name }}</b>
                                        </a> 
                                    </li>
                                    <li>Ilość kalorii: {% if recipe.calories %} {{ recipe.calories }} {% else %} ----- {% endif %} kcal</li>
                                    <li>Oddane głosy: {{ recipe.likes.count }}</li>
                                </ul>
                            </td>
                            <td class="col-1 text-center">
                                <form class="form-like-style" action="{% url 'user-like' %}#user-like" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="like" value="{{ recipe.pk }}" title="Usuń głos">
                                        <i class="fa fa-thumbs-down"></i>
                                    </button>
                                </form> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content_user_panel %}